
<div *ngIf="parameterOption">
    <h2><span>Parameter Option</span> {{parameterOption.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Active</span></dt>
        <dd>
            <span>{{parameterOption.active}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{parameterOption.name}}</span>
        </dd>
        <dt><span>Info</span></dt>
        <dd>
            <span>{{parameterOption.info}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parameter-option/'+ parameterOption.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
